$font-primary: 'Bai Jamjuree', sans-serif

$strong_cyan: hsl(171, 66%, 44%)
$light_blue: hsl(233, 100%, 69%)
$dark_grayish_blue: hsl(210, 10%, 33%)
$grayish_blue: hsl(201, 11%, 66%)
$light_color: hsl(0, 0%, 100%)

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html
  min-height: 100vh

body
  height: 100%
  min-height: 100vh

body
  position: relative

body,
input,
select,
button,
p
  font-family: $font-primary
  color: $grayish_blue
  font-weight: 400
  font-size: 18px
  line-height: 1.3

h1,
h2,
h3
  font-weight: 600
  color: $dark_grayish_blue

a
  text-decoration: none
  color: $grayish_blue

  &:hover
    color: darken($grayish_blue, 10%)
    transition: all 1s

section
  margin-top: 149px

.title
  font-size: 29px
  margin-bottom: 13px

p
  &.description
    font-size: 18.2px
    line-height: 28px

.main
  &-content
    text-align: center

  &-logo
    width: 125px
    display: block
    margin: 0 auto

.container
  max-width: 1220px
  padding: 10px 30px
  margin-left: auto
  margin-right: auto

.hero
  padding-top: 15vh
  margin-top: 0
  background-image: url("../img/bg-header-mobile.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom center

  > .container
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    flex-direction: column

  &-title
    font-size: 32px
    line-height: 41px
    margin-top: 66px
    margin-bottom: 10px

  &-description
    font-size: 16px
    line-height: 29px

.tracking
  padding-left: 30px
  padding-right: 30px

  &-img
    margin-top: 82px
    > img
      width: 100%

  &-item
    padding-top: 44px

    > h3 
      font-size: 23px
      line-height: 47px

    > p 
      font-size: 16px
      line-height: 23px

  &-split-content
    margin-top: 25px

.workflow
  margin-top: 63px

  .feature
    &-item
      padding-top: 55px

      .title
        font-size: 23px

      .icon
        display: inline-block
        margin: 0 auto
        margin-bottom: 44px

        &-blacklist
          width: 45px
          margin-left: 0
          margin-top: 22px

        &-text
          margin-left: 0
          margin-top: 0
          margin-bottom: 34px

        &-eye
          margin-top: 4px
          margin-bottom: 35px

    &-description
      font-size: 16px
      line-height: 28px

.access
  padding-left: 12px
  padding-right: 12px

  .title
    margin-top: 38px

  &-img
    margin-top: 55px

    > img
      width: 100%

.brands
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-wrap: wrap
  gap: 45px
  margin-top: 140px
  list-style: none
  align-items: center
  padding: 0 53px 10px

.clipboard
  margin-top: 134px

.cta-container
  display: flex
  gap: 23px
  justify-content: center
  align-items: center
  margin-top: 43px
  flex-wrap: wrap
  flex-direction: column
  width: 100%

  .btn
    border-radius: 26px
    padding: 13px 19px
    font-size: 19.5px
    line-height: 27px
    color: $light_color
    border-bottom: 3px solid transparent
    border-top: none
    border-left-width: 1px
    border-right-width: 1px
    width: 100%

    &.cta
      &-primary
        background-color: $strong_cyan
        box-shadow: 2px 8px 40px lighten($strong_cyan, 35%)
        border-color: hsl(166.7,53.1%,38.4%)
      
      &-secondary
        background-color: $light_blue
        box-shadow: 2px 8px 40px lighten($light_blue, 15%)
        border-color: hsl(233.5,44.5%,55.5%)

    &:hover
      opacity: .6

.main-footer
  background-color:	hsl(220, 18%, 97%)
  margin-top: 142px
  padding: 58px 30px
  color: $dark_grayish_blue
  text-align: center

  a
    color: $dark_grayish_blue

    &:hover
      color: $strong_cyan

  .footer
    &-link
      &-item
        list-style: none
          
        > li
          margin-bottom: 28px

    &-logo
      display: block
      margin: 0 auto 40px

  .social-link-group
    width: 100%
    justify-self: end
    list-style: none
    display: flex
    gap: 40px
    justify-content: center
    align-items: center
    margin-top: 49px

    a
      &:hover
        filter: invert(61%) sepia(79%) saturate(383%) hue-rotate(122deg) brightness(85%) contrast(93%)

@media (min-width: 998px)
  body
    display: grid
    grid-template-areas: "c-main" "c-footer"
    grig-template-rows: 1fr auto
    justify-content: center
    align-items: center
    grid-template-rows: 1fr auto
    grid-template-columns: 1fr

  p
    &.description
      white-space: pre-line

  .title
    font-size: 35px
    margin-bottom: 20px

  section
    margin-top: 140px

  .cta-container
    flex-direction: row
    margin-top: 50px
    gap: 17px
    width: auto

    .btn
      width: initial
      min-width: 226px

  .main
    &-content
      width: 100%
      grid-area: c-main

  .hero
    background-image: url("../img/bg-header-desktop.png")

    &-title
      font-size: 45px
      line-height: 1
      margin-bottom: 25px

    &-description
      white-space: pre-line
      font-size: 21px
      line-height: 1.3

  .workflow
    margin-top: 45px

    &-features
      display: grid
      gap: 10px
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    
    .feature
      &-item
        padding-top: 71px
        padding-left: 10px
        padding-right: 10px

        .title
          line-height: 26px

        .icon
          &-blacklist
            margin-left: 18px
            margin-top: 3px
            margin-bottom: 36px

          &-text
            margin-top: 6px
            margin-bottom: 39px

          &-eye
            margin-left: -19px
            margin-top: 10px

    &-description
      white-space: pre-line

  .tracking
    padding-left: inherit
    padding-right: inherit

    &-split-content
      display: grid
      grid-template-areas: "c-img c-text"
      grid-template-columns: 3fr 2.22fr
      gap: 10px
      margin-top: 0
      align-items: center

    &-img
      grid-area: c-img
      width: 100%
      margin-top: 82px
      margin-left: -5vw

      > img
        width: auto

    &-features
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, 1fr)
      gap: 39px
      text-align: left

    &-item
      padding-top: 22px

      > p 
        white-space: pre-line

  .brands
    flex-direction: row
    gap: 10px
    padding: 7px 53px 12px

  .access
    padding-left: 0
    padding-right: 0

    .title
      margin-top: 0

    &-img
      margin-top: 100px

      > img
        width: auto

  .main-footer
    grid-area: c-footer
    text-align: left
    padding: 30px

    > .container
      display: grid
      grid-template-areas: "c-logo c-list c-social" "foot foot foot"
      grid-template-columns: 1fr 2.5fr 2fr
      gap: 10px

    .footer
      &-link
        &-group
          display: grid
          grid-template-columns: 1fr 1fr 1fr 
          gap: 46px

        &-item
          > li
            margin-bottom: 17px

      &-logo
        margin: 0 0 0 26px

    .social-link-group
      gap: 24px
      padding-right: 21px
      justify-content: end
      margin-top: 16px
      align-items: center
      align-self: start

